<div class="property-card float-hover">
    <div class="image">
        <img src="@Property.Image" alt="">
        <button class="like"></button>
    </div>
    <div class="description">
        <div class="property-name">
            <h2>@Property.Name</h2>
        </div>

        <div class="property-location">
            <p>@Property.Location</p>
        </div>

        <div class="property-rating">
            <div class="digits">
                <p><strong>@Property.Price k</strong>/night</p>
            </div>
            
            <div class="digits">&starf; @Property.Review</div>
        </div>

        <div class="property-rating">
            <button @onclick="@(async () => await OnSelectedProperty.InvokeAsync(Property))">
                View
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Properties Property { get; set; } = default!;

    [Parameter]
    public EventCallback<Properties> OnSelectedProperty { get; set; }
}