<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer">
        @if (_activeCard is not null)
        {
            <div class="property-card">
                <div class="image">
                    <button class="like"></button>
                </div>
                <div class="description">
                    <div class="property-name">
                        <h2>@_activeCard.Name</h2>
                    </div>
                    
                    <div class="property-location">
                        <p>@_activeCard.Location</p>
                    </div>
                    
                    <div class="property-rating">
                        <div class="price">
                            <p><strong>@_activeCard.Price</strong></p>
                        </div>
                        
                        <div class="review">&starf; @_activeCard.Review</div>
                    </div>

                    <div class="property-location">
                        <p>@_activeCard.Description</p>
                    </div>

                    <div class="drawer-controls">
                        <button class="btn btn-secondary" @onclick="Close">Close</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private bool _isOpen;
    private Property? _activeCard;

    [Parameter, EditorRequired]
    public Property? Property { get; set; }

    protected override void OnParametersSet()
    {
        if (Property != null)
        {
            _activeCard = Property;
            _isOpen = true;
        }
    }

    private void Close()
    {
        _activeCard = null;
        _isOpen = false;
    }
}