<div class="drawer-mask @(_open ? "open" : "")">
    <div class="drawer">
        <div class="property-card">
            <div class="image"></div>
            <div class="description">
                <div class="property-name">
                    <h2>@_activeProperty.Name</h2>
                </div>

                <div class="property-location">
                    <p>@_activeProperty.Location</p>
                </div>

                <div class="property-location">
                    <p>@_activeProperty.Description</p>
                    <hr>
                    <p>Number Of Rooms: @_activeProperty.Rooms</p>
                </div>

                <div class="property-rating">
                    <div class="digits">
                        <p>@_activeProperty.Price</p>
                    </div>

                    <div class="digits">
                        <p>@_activeProperty.Review &starf;</p>
                    </div>
                </div>

                <div class="property-rating">
                    <button @onclick="CloseProperty">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _open;

    private Properties? _activeProperty;

    [Parameter, EditorRequired]
    public Properties Properties { get; set; }

    protected override void OnParametersSet()
    {
        if (Properties != null)
        {
            _activeProperty = Properties;

            _open = true;
        }
    }

    private void CloseProperty()
    {
        Properties = null;

        _open = false;
    }
}